<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="home"
        ><mat-icon
          color="primary"
          aria-hidden="false"
          aria-label="Example home icon"
          >home</mat-icon
        >
        Home</a
      >
      <a mat-list-item routerLink="list-foods"
        ><mat-icon
          color="warn"
          aria-hidden="false"
          aria-label="Example home icon"
          >list</mat-icon
        >
        Foods</a
      >
      <a mat-list-item routerLink="settings"
        ><mat-icon
          color="primary"
          aria-hidden="false"
          aria-label="Example home icon"
          >settings</mat-icon
        >
        Settings</a
      >
      <a mat-list-item routerLink=""
        ><mat-icon
          color="warn"
          aria-hidden="false"
          aria-label="Example home icon"
          >logout</mat-icon
        >
        Logout</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>project-uts</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
