<body>
  <div class="container">
    <div id="logo">
      <h1 class="logo">hulu</h1>
      <div class="CTA">
        <h1>Get Free</h1>
      </div>
    </div>

    <div class="leftbox">
      <nav>
        <a href="#" class="active">
          <i class="fa fa-user"></i>
        </a>
        <a href="#">
          <i class="fa fa-credit-card"></i>
        </a>
        <a href="#">
          <i class="fa fa-tv"></i>
        </a>
        <a href="#">
          <i class="fa fa-tasks"></i>
        </a>
        <a href="#">
          <i class="fa fa-cog"></i>
        </a>
      </nav>
    </div>

    <div class="rightbox">
      <div class="profile">
        <h1>Personal Info</h1>
        <h2>Full Name</h2>
        <p>Jerry Martins <button class="btn">update</button></p>
        <h2>Birthday</h2>
        <p>January 5</p>
        <h2>Gender</h2>
        <p>Male</p>
        <h2>Email</h2>
        <p>example@example.com <button class="btn">update</button></p>
        <h2>Password</h2>
        <p>******** <button class="btn">Change</button></p>
      </div>
    </div>
  </div>

  <!-- <footer>
    <p>
      Subscribe to
      <a href="#" target="_blank">Programmer Cloud</a>
      ♡
    </p>
  </footer> -->
</body>
