<div class="container">
  <h1>Daftar Makanan</h1>
  <ul class="list-group">
    <li class="list-group-item">Mie Ayam</li>
    <li class="list-group-item">Nasi Goreng</li>
    <li class="list-group-item">Bakso</li>
    <li class="list-group-item">Nasi uduh</li>
    <li class="list-group-item">Gado Gago</li>
    <li class="list-group-item">Nasi pindang</li>
    <li class="list-group-item">Mie Kua</li>
    <li class="list-group-item">Soto Ayam</li>
    <li class="list-group-item">Bebek betutu</li>
  </ul>
</div>
